<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>

<!-- 
    Publish Nuget:
    https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package#create-the-nuspec-package-manifest-file 

    nuget spec
    nuget pack Utilities.csproj -Version 1.0.x
    nuget push GW.Common.Utilities.1.0.15.nupkg {API_KEY} -Source https://www.nuget.org/api/v2/package
-->